.Footer {
    background-color: rgb(49, 49, 48);
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    margin-bottom: 0px;
    display: flex;
}

.Footer svg {
    margin-top: 7px;
    height: 35px;
}