.container {
    display: flex;
    align-items: center;
}

h2 {
    flex: 85%;
    color: rgb(219, 219, 219);
    padding-left: 10px;
    font-family: -webkit-pictograph;
}

svg {
    height: 25px;
    flex: 15%;
    color: white;
    stroke-width: 0.3px;
}