.container {
    display: flex;
    align-items: center;
    margin-top: 5px !important;
}

h2 {
    flex: 85%;
    color: rgb(219, 219, 219);
    padding-left: 10px;
    font-family: -webkit-pictograph;
}
.App {
    margin-top: 0 !important;
}
