.Carousel {
    flex: 85%;
    color: rgb(219, 219, 219);
    padding-left: 10px;
    font-family: -webkit-pictograph;
}

.Carousel img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

